extends layout

block content
	.row
		.twelve.columns
			h2 Hackathon Starter
			p A boilerplate for Node.js web applications.
	hr(style="margin-top:0;width:100%; max-width:none")
	.row
		.six.columns
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.button(href='#', role='button') View details »
		.six.columns
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.button(href='#', role='button') View details »
	.row
		.six.columns
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.button(href='#', role='button') View details »
		.six.columns
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.button(href='#', role='button') View details »