if messages.errors
	.alert.alert-danger(style="background-color:tomato")
		a.close.u-pull-right(href="#") &#10006;
		for error in messages.errors
			div= error.msg
if messages.info
	.alert.alert-info(style="background-color:lightblue")
		a.close.u-pull-right(href="#") &#10006;
		for info in messages.info
			div= info.msg
if messages.success
	.alert.alert-success(style="background-color:lightgreen")
		a.close.u-pull-right(href="#") &#10006;
		for success in messages.success
			div= success.msg
	
style.
	.alert {
		border: 1px solid; 
		padding:5px; 
		width: 80%; 
		margin: 0.5em auto;
	}
	.close {
		text-decoration:none; 
		color:black; 
		position:relative; 
		top:-5px; 
		padding: 5px 8px;
	}
script.
	$(".alert > .close").on("click", function (el) {
		console.log("Asdf");
		$(".alert").css("display","none");
	});