footer(style="margin-top:3rem")
	.container(style="display:flex")
		p © 2017 Company, Inc. All Rights Reserved
		ul(style="margin-left:auto")
			li.u-pull-right
				a(href='https://github.com/sahat/hackathon-starter') GitHub Project
			li.u-pull-right
				a(href='https://github.com/sahat/hackathon-starter/issues') Issues

style.
	footer ul li {
		list-style-type: none;
		padding: 0 16px;
	}